services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: playgroundposgresql
      POSTGRES_USER: playgroundposgresql
      POSTGRES_PASSWORD: playgroundposgresql
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: